<%- // if this doesn't make sense read --> ejs partials -%>
   <%- include("header") -%>

      <div class="container">
         <h1 class="heading">Countdown Timer</h1>
         <div class="time-box">
            <div class="years partition">years</div>
            <div class="months partition">months</div>
            <div class="weeks partition">weeks</div>
            <div class="days partition">days</div>
            <div class="hrs partition">hrs</div>
            <div class="mins partition">mins</div>
            <div class="secs partition">secs</div>
         </div>
      </div>

      <%- include("footer") -%>