<%- // if this doesn't make sense read --> ejs partials -%>
<%- include("header") -%>


<body>
   <div class="container">
      <h1 class="heading">Countdown Timer</h1>
      <p id="event"></p>
   </div>
</body>

<%- include("footer") -%>