<%- // if this doesn't make sense read --> ejs partials -%>
<%- include("header") -%>

<div class="container">
   <h1 class="heading">Countdown Timer</h1>
   <div class="time-box">
      <div class="days">years</div>
      <div class="days">months</div>
      <div class="days">weeks</div>
      <div class="days">days</div>
      <div class="days">hrs</div>
      <div class="days">mins</div>
      <div class="days">secs</div>
   </div>
</div>

<%- include("footer") -%>