/* all the properties are alphabetically ordered, after updating or inserting,
   please rearrange them properly */

/* Langar from google fonts */

@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");
.container {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 10%;
}

body {
	background-image: url("https://images.unsplash.com/photo-1607457561901-e6ec3a6d16cf?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDUyfGlVSXNuVnRqQjBZfHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
	margin-bottom: 0;
}

.heading {
	font-size: 3.75rem;
	font-family: "Langar", cursive;
	text-align: center;
}

.partition {
	border-right: 1px solid green;
}

.time-box {
	display: flex;
}
.days {
	font-size: 50px;
	margin: 10px;
}
.event-date {
	text-align: center;
	font-size: 20px;
	padding: 10px;
}
